# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

# IntelliJ
.idea/
*.iml
out/

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Uploaded files (VERY IMPORTANT)
uploads/

# Temporary files
*.tmp
*.swp

# Java
*.class

# Spring Boot
*.pid
